<div class="webcomponent">
  <div class="row">
    <div class="col">
      <h3>Sonando ahora mismo...</h3>
    </div>
  </div>
  <div class ="row">
    <div class="col-6 mx-auto">
      <div class="media">
        <img class="card-img-top" src="{{ albumCoverUrl }}" style="width:120px;height:120px;">
        <div class="media-body">
          <h5>{{ winnerSong?.artist }} - {{ winnerSong?.title }}</h5>
          <h5><small>{{ winnerSong?.album }}</small></h5>   
        </div>
      </div>
    </div>
    <div class="col-2 mx-auto">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
          
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
          
          <hr>
          
          <pre>{{closeResult}}</pre>
    </div>
  </div>
</div>