<app-navbar-login></app-navbar-login>
<div class="container webcomponent">
    <div class="row">
        <div class="col-sm-3">
          <form (submit)="signup()">
            <div class="form-group">
              <label for="username">Nombre de usuario</label><br>
              <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico</label><br>
              <input class="form-control" type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="email">Confirmación correo electrónico</label><br>
              <input class="form-control" type="email" id="email" name="email" [(ngModel)]="email" placeholder="Confirmación email">
            </div>
            <div class="form-group">
              <label for="password">Password</label><br>
              <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <label for="repassword">Confirmación Password</label><br>
              <input class="form-control" type="password" id="repassword" name="repassword" [(ngModel)]="repassword" placeholder="Confirmación contraseña">
            </div>
            <button class="btn btn-primary" type="submit">Registrar</button>
          </form>
        </div>
    </div>
</div>