<app-navbar-login></app-navbar-login>

<div class="webcontainer">
  <form (submit)="signup()">
    <div>
      <label>email</label><br>
      <input type="email" id="email" name="email" [(ngModel)]="email">
    </div>

    <div>
      <label>password</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="password">
    </div>

    <div>
      <label>re-password</label><br>
      <input type="password" id="repassword" name="repassword" [(ngModel)]="repassword">
    </div>

    <button type="submit">Registrar</button>
  </form>
</div>